[project]
name = "music-manifold"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "requests"
]

[tool.setuptools.packages]
find = ["src"]
